.agents
.antigravitycli
.claude
.codex

.git
.github
.idea
.vscode
.coverage/
configs/
bin/
logs/
data/
deploy/
docs/
scratch/
scripts/
Dockerfile
specs/
guide/
tools/
Makefile
sonar-project.properties
docker-compose.sonar.yml
*.out
*.log
*.env
*.example
