# Environment
.env

# Build artifacts
bin/
.gocache
data/journal

# Logs
logs/

# Coverage
.coverage/
coverage
coverage.out
coverage.html

# SonarQube
.scannerwork/
.antigravitycli

.codex
.claude

# Terraform
deploy/terraform/.terraform
deploy/terraform/**/*.hcl
deploy/terraform/**/*.tfstate
deploy/terraform/**/*.backup
deploy/terraform/**/*.tfvars
deploy/terraform/**/*.env
deploy/terraform/**/*.log
deploy/terraform/**/*.tmp
deploy/terraform/**/bin
deploy/terraform/**/*.hcl



# Local config overrides
configs/funding/**/*.local.jsonc